.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 710px;
  border-radius: 20px;
  background: var(--White);
  border-bottom-right-radius: 25%;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  height: auto;
  margin: 0;
  padding: 0;
}

.input-label {
  font-size: 12px;
  padding-bottom: 6px;
  color: var(--Smokey-grey);
  letter-spacing: 2px;
}

.input {
  border: 1px solid var(--Light-grey);
  border-radius: 8px;
  font-size: 32px;
  font-weight: bold;
  height: 3.5rem;
  width: 7.5rem;
  padding-left: 10px;
  margin-right: 1.8rem;
  caret-color: var(--Purple);
}

.input:focus {
  outline: none;
  border: 1px solid var(--Purple);
}

.input-number {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  display: flex;
  flex-direction: row;
  color: red;
  margin-top: 10px;
  font-size: 11px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 55px;
  cursor: pointer;
}

.button::before {
  content: '';
  width: 34rem;
  height: 2px;
  background: var(--Light-grey);
}

.arrow {
  width: 40px;
  padding: 20px;
  border-radius: 50%;
  background: var(--Purple);
  transition: var(--transition);
}

.arrow:hover {
  background: var(--Off-black);
  transition: var(--transition);
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  font-size: 75px;
  font-style: italic;
  font-weight: bold;
  color: var(--off-black);
}

.age-number {
  font-size: 75px;
  color: var(--Purple);
}